* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-primary: hsl(233, 100%, 97%);       /* #EFF1FF */
    --bg-secondary: hsl(218, 17%, 62%);     /* #8E9AAF */
    --bg-texts: hsl(312, 91%, 96%);                    /*  #FEEAFA */

    --ff-title: 'Staatliches', 'cursive';
    --ff-texts: 'Palanquin', sans-serif;

    --ff-size: clamp(2rem, 1rem + 1vw, 2.5rem);
}

body {
    font-size: 1.6rem;
    background: var(--bg-primary);
}

body::before {
    content: "";
    background: var(--bg-secondary);
    width: 100%;
    height: 31.5rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header {
    max-width: 38.4rem;

    margin: 0 auto;
    text-align: center;
}

header img {
    margin-top: 3.2rem;
}

header h1 {
    font-family: var(--ff-title);
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
    background: #CBC0D3;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    padding: .8rem;
    margin: 3.2rem 0 3rem 0;

}

main {
    max-width: 32rem;
    margin: 4.4rem auto;
    text-align: center;
}

main p {
    font-family:var(--ff-texts);
    font-size: var(--ff-size);
    line-height: 2rem;
    padding-top: 1.2rem;
    text-align: center;
    color: #23053A;
}

.content {
    margin-top: 6.3rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.card{
    position: relative;
    transition: transform 200ms;
}

.card:hover {
    transform: scale(1.1);
    color: #6d7088;
    font-weight: 300;
}

.card h2 {
    color: #4A4E69;
    background: var(--bg-texts);
    width: 11.2rem;
    padding: 0 2.4rem;
    font-family: var(--ff-title);
    font-size: 2rem;
    font-weight: 400;

    border-radius: 2rem;

    position: absolute;
    top: 2.2rem;
    right: 1rem;

}

.card h2:hover {
    background: #f3d1ec;
}


.card img {
    animation: totop 700ms 350ms backwards;

}


@keyframes totop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 1024px) {

    main {
        max-width: 90rem;
    }

    main p {
        line-height: 3rem;
    }

    .content {
        display: grid;
        grid-template-areas: "A B" "C D";
        justify-content: space-around;
    }

    .content img {
        height: 100%;
    }

    .content div:nth-child(1){
        grid-area: "A";
    }

    .content div:nth-child(2) {
        grid-area: "B";
    }

    .content div:nth-child(3) {
        grid-area: "D";
    }

    .content div:nth-child(4) {
        grid-area: "C";
    }

}